<h1>Events</h1>
    &nbsp
    &nbsp
<h3><%= @source[:identifier] %>: Aggregate Data</h3>
    <ul>
          <% @events.each do |event| %>
            <li>
             Event: <strong>"<%= event.first %>"</strong> 
             Recieved: <strong><%= event.last %></strong>x
             </li>
          <% end %>
        
    </ul>
    &nbsp
    &nbsp
<h3>Event Specific Data</h3>
    <ul>
          <% @events.each do |event| %>
          <li>
          <a href= "/sources/<%= @identifier %>/events/<%= event.first %>" target="_blank"<b><%= event.first %></b></a> </li>
          <% end %>
        
    </ul>
