<h3>Campaign specific data</h3>
    <h4><%= @name %>'s events:<h4>
    <ul>
          <% @events.each do |event| %>
          <li>
          <a href="/sources/<%=@identifier%>/events/<%= event.first %>"><%= event.first %></a> has received <%= event.last %> hits.
          </li>
          <% end %>
    </ul>